// 1440px
@media (min-width: 90rem) {
  :root {
    --carousel-margin: 0 0 0 13.25rem;
    --product-information-padding: 0 13.25rem 0 3.875rem;
    --navbar-padding: 1.75rem 10.25rem 1.75rem 10.25rem;
    --product-margin: 5.625rem 0 0 0;
    --cart-position-right: 5.5rem;
  }
}
