:root {
  --navbar-padding: 1.1875rem 1.5rem 1.1875rem 1.5rem;
  --logo-margin: 0 0 0 1rem;
  --nav-link-padding: 0.75rem 0 0.75rem 0;
  --cart-icon-position-right: 4.375rem;
  --user-avatar-width: 1.5625rem;
  --user-avatar-height: 1.5625rem;
}

/* ----- Navbar ----- */
.navbar {
  max-width: 90rem;
  margin: 0 auto;
  padding: var(--navbar-padding);
}

.offcanvas.offcanvas-start {
  width: 15.625rem;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.logo {
  margin: var(--logo-margin);
}

.nav-link {
  font-size: 1.0625rem;
  font-weight: 700;
  color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: var(--nav-link-padding);
}

.cart-icon {
  position: absolute;
  right: var(--cart-icon-position-right);
  cursor: pointer;
}

.cart-number {
  width: 1.25rem;
  height: 0.875rem;
  background-color: $orange;
  color: $white;
  font-weight: 700;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  left: 50%;
}

.user-avatar {
  width: var(--user-avatar-width);
  height: var(--user-avatar-height);
  position: absolute;
  right: 0;
}

.hr-divider {
  margin: 112px 0 0 0;
  display: none;
}
